<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <style>
        html, body, #root {
            height: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <body>
    </body>
</html>
